/* 폰트 */

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}

@font-face {
    font-family: '116watermelon';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116watermelon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Lovingu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MapoDacapo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDacapoA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header 시작 */

header {
    /* background-color: #00000040; */
    background: url(../image/헤더\ 이미지.jpg);
    width: 100%;
    height: 1000px;
}

.header_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: #00000040;
    width: 1745px;
    height: 100px;
    border-bottom: 1px solid #a0a0a0;
    font-family: 'MaruBuri';
}

.header_text > h1 {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    color: #fff;
}

.header_text > h1 > span {
    font-size: 12px;
}

.header_text > button {
    color: #fff;
    border: none;
    background: none;
}

/* header 끝 */

/* main 시작 */

.main_text_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(../image/상단\ 백그라운드\ 이미지.png);
    width: 100%;
    height: 800px;
}

.main_text_1 > img {
    width: 960px;
    height: 540px;
    border-radius: 0 150px 0 0;
}

.main_text_1 > div {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}

.main_text_1 > div > p {
    font-size: 48px;
    font-family: '116watermelon';
    color: #665C52;
}

.main_text_1 > div > span {
    color: #353535;
    font-size: 14px;
}

.text_2_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 800px;
    position: relative;
    background-color: #F6F3EC;
}

.text_2_top > figure {
    background: url(../image/메인\ 이미지2.jpg);
    background-size: cover;
    background-color: #000;
    width: 468px;
    height: 516px;
    border-radius: 50% 50% 0 0;
    margin-left: 500px;
}

.button_box > button {
    border: none;
    background: none;
    
}

.button_box {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    padding: 0 32px;
}

.text_2_center {
    margin-right: 400px;
}

.text_2_center > p > span {
    font-family: 'Cafe24Lovingu';
    font-size: 54px;
}

.text_2_center > .text_2 {
    font-family: 'MapoDacapo';
    font-size: 72px;
    font-weight: 100;
    color: #665c52;
}

.main_text_2_bottom {
    display: flex;
    justify-content: center;
    background-color: #F6F3EC;
}

.main_text_2_bottom > figure {
    background: #fff;
    padding: 32px;
    margin: 32px;
}

.main_text > h2 {
    font-size: 80px;
    color: #85796E;
    font-family: 'MaruBuri';
}

.main_text_2_bottom > figure > img {
    width: 405px;
    height: 410px;
}

.main_text_2_bottom > figure > p {
    font-size: 18px;
    padding: 30px;
}

.main_text_2_bottom > figure > p > span {
    color: #A0A0A0;
    font-size: 14px;
}

.bottom_reservation {
    background: url(../image/하단\ 예약\ 백그라운드\ 이미지.png);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_reservation > .bottom_btn > button {
    border: 1px solid #665c52;
    background: none;
    margin: 30px;
}

/* main 끝 */

/* footer 시작 */

footer {
    background-color: #ede9df;
    width: 100%;
    height: 300px;
}

.footer_top,
.footer_center,
.footer_bottom_text,
.footer_bottom_text_2,
.footer_bottom_text_3 {
    display: flex;
    justify-content: center;
    
}

.footer_top > a,
.footer_bottom_text_2 > a,
.footer_bottom_text_3 > a {
    text-decoration: none;
}

.footer_center > button {
    border: none;
    background: none;
    font-size: 26px;
    margin: 30px;
}

.footer_top {
    padding-top: 40px;
}

.footer_top > p {
    margin-right: 20px;
}

.footer_bottom_text {
    margin-bottom: 20px;
}

.footer_bottom_text > P {
    color: #A0A0A0;
    font-size: 12px;
}

.footer_bottom_text > P > span {
    color: #000;
}
/* footer 끝 */